<footer class="site-footer ui">
    
  <div class="wrapper pure-g">
      <div class="pure-u-1 pure-u-md-8-24">
          <div class="footer-content">
            <ul class="contact-list">
                <li><a data-show-count="false" class="twitter-follow-button" href="https://twitter.com/io_exception">@io_exception</a></li>
                <li><a class="github-button" href="https://github.com/ThatCSharpGuy" aria-label="Follow @ThatCSharpGuy on GitHub">Follow @ThatCSharpGuy</a></li>
                <li style="padding-bottom: 5px;"><a class="social-btn mail" href="mailto:feregrino@thatcsharpguy.com"><i class="sp sp-mail"></i> feregrino@thatcsharpguy.com</a></li>
            </ul>
          </div>
      </div>
      <div class="pure-u-1 pure-u-md-6-24">
      </div>
      <div class="pure-u-1 pure-u-md-10-24">
          <div class="footer-content">
              
              <!-- Begin MailChimp Signup Form -->
<div class="panel active" id="footer-signup">
    <div class="panel-title">
        <span class="title">Suscríbete</span>
    </div>
    <div class="panel-content">
    Recibe semanalmente lo nuevo en That C# guy
    <form class="pure-form-stacked" action="//thatcsharpguy.us11.list-manage.com/subscribe/post?u=ebfe25f4824d7335380cf1ffd&amp;id=eca72e1174" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                
                <input type="email" value="" placeholder="dirección de email" name="EMAIL" class="required email" id="mce-EMAIL">
                
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">
                    <span style="text-decoration:underline;">E</span>nviar
                </button>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_ebfe25f4824d7335380cf1ffd_eca72e1174" tabindex="-1" value="">
                </div>
    </form>
    </div>
</div>

<!--End mc_embed_signup-->
              
          </div>
      </div>
  </div>

</footer>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
