<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" 
  href='{{ "/assets/site/favicon.png" | prepend: site.url }}'>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
  <!-- Analytics - ->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-65582431-1', 'auto');
    ga('send', 'pageview');
  </script>
  -->
  <!-- Twitter cards  -->
  {% if page.featured_image or page.custom_image %} 
  <meta name="twitter:card" content="summary_large_image">
  {% if page.featured_image %}
  <meta name="twitter:image" content="{{ page.featured_image | prepend: page.url | replace:'post/','' | prepend: site.images_url }}">
  {% endif %}
  {% if page.custom_image %}
  <meta name="twitter:image" content="{{ page.custom_image | prepend: site.assets_url }}">
  {% endif %}
  
  {% else %}
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  
  <!-- Facebook open graph tags -->  
  {% if page.featured_image %}
  <meta property="og:image" content="{{ page.featured_image | prepend: page.url | replace:'post/','' | prepend: site.images_url }}" />
  {% endif %}
  {% if page.custom_image %}
  <meta property="og:image" content="{{ page.custom_image | prepend: site.assets_url }}" />
  {% endif %}
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="article:author" content="https://www.facebook.com/antonio.feregrino" />
  <meta property="article:publisher" content="https://www.facebook.com/antonio.feregrino" />
  
  
  
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
</head>
