  <!-- Facebook open graph tags -->  
    {% if page.featured_image %}
    <meta property="og:image" content="{{ page.featured_image | prepend: page.url | replace:'post/','' | prepend: site.images_url }}" />
    {% endif %}
    {% if page.custom_image %}
    <meta property="og:image" content="{{ page.custom_image | prepend: site.assets_url }}" />
    {% endif %}
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="article:author" content="https://www.facebook.com/antonio.feregrino" />
    <meta property="article:publisher" content="https://www.facebook.com/antonio.feregrino" />