{% if page.lang == 'es' %}
¿Dudas o comentarios? escríbeme sobre esto a <a href="mailto:{{ site.email }}?subject={{ page.title }}">{{ site.email }}</a> o en <a href="https://twitter.com/intent/tweet?text=@{{ site.twitter_username }} sobre {{ page.title }} ">@{{ site.twitter_username }}</a>. <strong>¿Quieres estar al tanto de mis posts? <a href="/registro">regístrate aquí</a>.</strong>
{% endif %}
{% if page.lang == 'en' %}
Ping me about this at <a href="mailto:{{ site.email }}?subject={{ page.title }}">{{ site.email }}</a> or <a href="https://twitter.com/intent/tweet?text=@{{ site.twitter_username }} about {{ page.title }} "> @{{ site.twitter_username }}</a>. <strong>Want to stay updated about my posts? <a href="/signup">sign up here</a>.
{% endif %}