/**
 * Site footer
 */
.site-footer {
    border-top: 5px solid #CCCEDB;
    background: $ui-background-color url(../content/site/footer-dots.png) top right repeat-x;
    padding: ($spacing-unit / 2) 0;   
}

.footer-content {
    margin: 5px;
}

.footer-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: $spacing-unit / 2;
}

.contact-list {
    list-style: none;
    margin-left: 0;
}



@include media-query($on-palm) {
    
    .footer-heading {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: $spacing-unit / 2;
    }
}