/**
 * Post listing
 */
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
    
}

.post-link {
    /* display: block; */
    font-size: 24px;
}

.listed-post {
    margin: 10px 0 20px;
    .post-title {
        font-size: 42px;
        line-height: 1;
        margin-bottom: 5px;
        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }
}

@include media-query($on-laptop) {
    .post-excerpt {
        font-size: 13px;
    }
}
