---
layout: default_video
lang: es
---
<div class="pure-g">
    {% for post in site.posts %}
        {% if post.is_tv %}
    <div class="pure-u-1-2 video">
        <div class="video-container">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <img class="featured-image" src="http://placehold.it/384x216" />
            </a>
            <h3 class="post-title">
                {{ post.title }}
                <small></small>
            </h3>
        </div>
    </div>
        {% endif %}
    {% endfor %}
</div>