---
layout: default
---
<div id="post-meta">
    <a href="#" rel="author">{{ page.author }}</a> | {{ page.date | date: "%d/%m/%Y" }} 
{% if page.ideone %}| <a href="{{ page.ideone }}" target="_blank">Ver código de este post en ideone</a>{% endif %}
{% if page.github %}| <a href="{{ page.github }}" target="_blank">Ver código de este post en GitHub</a>{% endif %}
</div>
<h1 class="post-title">{{ page.title }}</h1>
<div class="post-content">
    <article>
        {{ content }}
    </article>
    {% if page.featured_tag %}
    <br />
    <div class="post-featured-tag">
        ¿Quieres leer más posts como este? ve los demás en este enlace: <a class="tag" href="/tag/{{ page.featured_tag }}">{{ page.featured_tag }}</a>.
    </div>
    {% endif %}
    <div class="post-contact">
        {% include post-contact.html %}
    </div>
</div>
{% if page.comments %}
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
var disqus_developer = 1; // this would set it to developer mode

var disqus_config = function () {
this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

function loadComments() {
        var u = "thatcharpguy",
        s = document.createElement('script');
        //e = document.getElementById("disqus_loader");
	s.src = "http://" +u+ ".disqus.com/embed.js";
	s.async = 'true';
	document.getElementsByTagName('head')[0].appendChild(s);
        //e.parentElement.removeChild(e);
}
</script>

<div id="disqus_thread"></div>
<script id="dsq-count-scr" src="//thatcsharpguy.disqus.com/count.js" async></script>
{% endif %}