---
layout: default
---

<!--<div class="home">
    {% for post in site.posts %}
        {% if post.lang == "en" %}
          <div class="content-window" style="padding-bottom: 10px;">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.excerpt }}</p>
            <span  class="post-meta code-comment">// By {{post.author }} on {{ post.date | date: "%d/%m/%Y" }}</span>
          </div>
          <br />
          <br />
        {% endif %}
    {% endfor %}
</div>-->

<h1 class="post_title">{{page.title}}</h2>
<div class="pure-g">
{% for post in site.posts %}
	{% for tag in post.tags %}
		{% if tag == page.tag %}
        <div class="pure-u-1-2">
            <div class="card">
                <h5 class="archive_list_header"><a class="post-link" href='{{post.url}}'>{{post.title}}</a></h5>
                <p class="summary">{{post.excerpt}}</p>
            </div>
        </div>
		{% endif %}
	{% endfor %}
{% endfor %}
</div>